	<style type="text/css">
	footer{
		height: auto;

	}
		.footer{
padding-left: 250px;
background-color: #A0CC72;
background-position: center center;
opacity: 0.888;
filter: alpha(opacity=18);
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=18)";
background-repeat: no-repeat;
border-color: #000000;
background-size: cover;

position: absolute;
left: 0px;
right: 0px;

height: auto;
background-image: url("/images/pink dust.jpg");


border-color: #FFFFFF;
position: relative;
border-width: 6px;



		}
		.footer-left{
			width: 65%;
			float: left;
			padding: 1.2rem;
		}


		.footer-right{
			margin-left: 66%;
			
			padding: 1.2rem;
		}

		input, textarea{
			color: #FFFFFF;
font-size: 16px;
padding: 6px;
min-height: 54px;
font-family: averia-sans-libre, sans-serif;
font-weight: 400;

background: transparent;
border: none;





border-style: solid;
color: #FFFFFF;
font-size: 16px;
font-family: averia-sans-libre, sans-serif;
position: relative;
background-color: transparent;
font-weight: 400;
line-height: 48px;
padding: 6px;
min-height: 54px;
border-color: #FFFFFF;
border-width: 0px 0px 6px;
		}


input:hover, textarea:hover{
	background-color: rgb(170, 0, 245);
	color: white;
}

.c_btn{

border-style: solid;
color: #FFFFFF;
font-family: averia-sans-libre, sans-serif;
position: relative;
text-align: center;
font-weight: 700;
letter-spacing: 3px;
line-height: 28px;
margin-right: -10000px;
border-color: #FFFFFF;
height: 41px;
padding: 7px 0px 0px;
border-width: 0px 6px;
-pie-background: rgba(255, 255, 255, 0.24);

width: 30%;
top: 15px;
color: black;


}

	</style>


	<footer>
		<div class="footer">

			<div class="footer-left">
				<h3>Made in Entertin, WI</h3>
				<h3>info@isps.club</h3>
				<p></p>

				<div class="fb-follow" data-href="https://www.facebook.com/zuck" data-layout="standard" data-size="small" data-show-faces="true"></div>
			</div>

			<div class="footer-right">
				<div>
					<h3>Contract Us</h3>
					<form action="">
						<div style="width: 100%;">
							<input style="width: 49%;" type="text" placeholder="Name">
							<input style="width: 49%;" type="email" placeholder="Email">
						</div>
						<div style="width: 100%;">
							<textarea style="width: 100%;" name="massage" rows="1" placeholder="Your Message"></textarea>
						</div>
						<button type="submit" class="c_btn">Send</button>

					</form>
				</div>
			</div>
		</div>
	</footer>