---
#layout: compress
---
<!doctype html>
<html lang="en">
{% include head.html %}
<body>
	<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% include header.html %}
	<main>
		<h1>{{ site.title }}</h1>
		<div> {{ page.description | default: site.description }}</div>
		{{ content }}
	</main>
	{% include footer.html %}
	 {% include scripts.html %}
</body>
</html>